{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Editar perfil
{% endblock %}

{% block content %}
   <header class="min-h-screen bg-black opacity-70 showcase border-black border-b-8 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'images/img.png' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h2 class="text-2xl">{{ user.username }}</h2>
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Edite os campos abaixo para editar seu perfil</legend>
                    {{ form|crispy }}
                </fieldset>
                <button class="bg-red-600 py-1 px-3 text-white rounded-md text-2xl" type="submit">Salvar </button>
            </form>
            <br>
            <small class="text-2xl bg-red-600 rounded-md py-1 px-3" ><a href="{% url 'filme:mudarsenha' %}">Mudar senha</a></small>
            <br>
            {% if usuario.pk %}
            <small class="text-2xl bg-red-600 rounded-md py-1 px-3" ><a href="{% url 'filme:excluirconta' usuario.pk %}">Excluir conta</a></small>
            {% endif %}
        </div>



    </header>



    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">

            <li>&copy; 2021</li>
            <li> Feito com Python (Django)</li>
            <li>Hashtag</li>
        </ul>
    </footer>

{% endblock %}